.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    order: 2;
    margin: 30px 0px 30px 100px;
    width: unset;
    z-index: 1;
}

.filter span {
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
}

.filter button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #901C1C;
    font-size: 18px;
    font-weight: bold;
    color: #FAFAFA;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    cursor: pointer;
    text-indent: 5px;
    position: relative;
}

.filter button:focus {
    outline: 1px solid #000000;
}

.filter button img {
    position: absolute;
    top: 30%;
    right: 10px;
    width: 20px;
    height: 20px;
    z-index: 2;
}

.filter button img {
    rotate: 180deg;
    transition: all 0.5s ease;
}

.filter button img.rotateArrow {
    transform: rotate(-180deg);
}

.options:not(.openFilter) option:not(:first-of-type) {
    display: none;
  }

.filter option {
    box-sizing: border-box;
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    color: #FAFAFA;
    gap: 10px;
    background-color: #901C1C;
    padding: 10px;
    text-align: left;
    width: 200px;
}

.filter option:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.filter option:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.filter option:not(:first-child) {
    position: relative;
}

.filter option:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 5px;
    width: 90%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

